/* Sidebar */
@import "../../responsive";
.sidebar-icon-only .sidebar {
  @include min992{
    width: 70px;
  }
  @include max991{
    margin-left: 0;
  }
}
.sidebar {
  min-height: calc(100vh - 64px);
  background: #fff;
  // font-family: $type1;
  font-weight: 500;
  padding: 0;
  width: 235px;
  z-index: 11;
  @include min992{
    min-height: calc(100vh - 70px);
  }
  transition: width 0.25s ease, background 0.25s ease;
  @include max991{
    margin-left: -235px;
    transition: all 0.5s;
  }
  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;

    .nav-item {
      transition-duration: 0.25s;
      transition-property: background;
      -webkit-transition-property: background; 
      margin-right: 10px;
      .collapse {
        z-index: 999;
      }
      &.dcp-menu-AOS_Invoices{
        &.active{
          .nav-link {
            .menu-title{
              color: $primary;
            }
              svg{
                path{
                stroke: $primary;
                  &:last-child{
                    fill: $primary;
                    stroke-width: 0;
                  }
                }
            }
          }
        }
        .nav-link {
          &:hover{
            .menu-title{
              color: $primary;
            }
            svg{
               path{
                stroke: $primary;
                 &:last-child{
                    fill: $primary;
                    stroke-width: 0;
                 }
               }
            }
          }
        }
      }
      .nav-link {
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          white-space: nowrap;
          padding: 8px 10px;
          color: #6C7383;
          border-radius: 8px;
          -webkit-transition-duration: 0.45s;
          -moz-transition-duration: 0.45s;
          -o-transition-duration: 0.45s;
          transition-duration: 0.45s;
          transition-property: color;
          -webkit-transition-property: color;
          
          &:hover{
            .menu-title{
              color: $primary;
            }
            svg{
              > g{
                opacity: 1;
              }
              path{
                stroke: $primary;
              }
            }
          }
          

        .menu-title {
          color: $dark-gray;
          display: inline-block;
          font-size: 13px;
          line-height: 19px;
          vertical-align: middle;
          font-weight: 300;
          @include min1600{
            font-size: 14px;
            line-height: 21px;
          }
        }
      }

      &.active {
        border-radius: 8px;
        position: relative;
        &::after{
          content: "";
          left: -16px;
          height: 18px;
          width: 2.5px;
          position: absolute;
          background: $primary;
          top: 50%;
          bottom: 0;
          transform: translateY(-50%);
          border-radius: 47px;
        }
        > .nav-link {
            background: #F3F6FF;
            position: relative;
            i,
            .menu-title,
            .menu-arrow {
              color: $primary;
            }
            svg{
              > g{
                opacity: 1;
              }
              path{
                stroke: $primary;
              }
            }
        }
      }
    }
  }
}
//sidebar color variation


#sidebar{
  ul{
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #EDECEC;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-left: 16px;
    li{
      &.active{
        .active-image{
          opacity: 1;
        }
        .normal-image{
          opacity: 0;
        }
      }
      &:hover{
        .active-image{ 
          opacity: 1;
        }
        .normal-image{
          opacity: 0;
        }
      }
      
    }
    .menu-image{
      margin-right: 10px;
      position: relative;
      .normal-image{
        opacity: 1;
      }
      .active-image{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        bottom: 0;
        transform: translateY(-50%);
        font-size: 0;
        opacity: 0;
      }
    }
    &:last-child{
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

@include min992{
    .sidebar-icon-only{ 
      .page-body-wrapper{   
        .sidebar{
          width: 70px;
          padding-left: 0;
          .nav{
              overflow: visible;
              margin-left: 0;
              margin-right: 0;
              ul{
                margin-left: 0 !important;
                border-bottom: 0 !important;
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
                .menu-image{
                  display: inline-block;
                  margin: 0 !important;
                }
              }
              li{
                position: relative;
                margin-right: 0;
                .nav-link{
                  display: block;
                  padding-left: 0.5rem;
                  padding-right: 0.5rem;
                  text-align: center;
                  position: static;
                  border-radius: 0;
                }
                .menu-title{
                  display: none;
                }
                .case-add{
                  display: none;
                }
              }
          }
        }
      }
    }
}

.page-body-wrapper{
  // padding-top: 60px;
  .sidebar{
      padding-left: 10px;
      @include min1600{
        padding-left: 30px;
      }
      @include max991{
          padding-left: 0;
          position:fixed;
          top: 60px;
          height: calc(100vh - 60px);
          overflow: auto;
          .nav{
              margin-bottom: 0;
          }
      }
      .nav-item{
          padding-right: 0; 
          position: relative;
          &:hover{
              .case-add{
                visibility: visible;
            }
          }
          .case-add{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            @include min992{
              visibility: hidden;
              transition: all 0.5s; 
            }
          }
      }
    }
}