@import "style";
.add-proposals-main{
    @include min768{
        margin-bottom: 30px;
    }
    .case-edit-block{
        .form-group{
            margin: 0;
            label{
                margin: 0 0 5px;
            }
        }
    }
}
.add-proposals-table{
    padding: 30px;
    border-radius: 15px;
    .main-heading-table{
        padding-top: 0;
        .search-box{
            margin-right: 0;
            .search-input{
                input{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border: 0; 
                    box-shadow: none;
                }
                @include min1200{
                    min-width: 270px;
                    input{
                        font-size: 12px;
                    }
                }
            }
        }
        @include max767{
            flex-direction: column;
            .nav-item.search-box{
                justify-content: flex-end;
                margin-top: 15px;
                .search-main-proposals{
                    width: 100%;
                    .search-input{
                        min-width: calc(100% - 80px);
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
    .search-input{
        background: transparent !important;
        border: 1px solid #8D8D8D;
    }
    table{
        tr{
            th{
                @include max767{
                    font-size: 15px;
                    line-height: 21px;
                }
                &:first-child{
                    width: 40px;
                }
                &:nth-child(2){
                    width: 20%;
                }
                &:nth-child(3){
                    width: 20%;
                }
                &:nth-child(4){
                    width: 20%;
                }
                &:nth-child(5){
                    width: 20%;
                }
                &:last-child{
                    width: 15%;
                }
            }
        }
    }
    .qty-block{
        background: #F1F3F4;
        border: 1px solid #727272;
        border-radius: 15px;
        width: 80px;
        display: flex;
        justify-content: space-evenly;
        &.disabled{
            pointer-events: none;
        }
        input{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #727272;
            background: transparent;
            border: 0;
            box-shadow: none;
            width: 30px;
            padding: 0;
            text-align: center;
            display: inline-block;
        }
        button{
            border: 0;
            background: transparent;
            &:focus{
                outline: none;
            }
        }
    }
}
.service-proposal-block{
    margin-top: 20px;
    @include min768{
        margin-top: 0;
    }
    h3{
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $black;
        margin: 0;
    }
}
.proposals-button{
    margin: 20px 0;
    @include min768{
        margin: 30px 0;
    }
    input{
        margin-right: 20px;
        float: left;
        &:hover{
            color: $white;
        }
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.service-proposal-block{
    .preferences-header{
        padding-bottom: 0;
        &::after{
            display: none;
        }
    }
    .service-add-block{
        padding: 30px;
        .service-enter{
            position: relative;
            margin-bottom: 30px;
            input{
                padding-right: 50px;
            }
            &:last-child{
                margin: 0;
            }
            .service-action-btn{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 22px;
                height: 22px;
                right: 20px;
                
                // &.active{
                //     .action-btn{
                //         &.add-service{
                //             opacity: 0;
                //         }
                //         &.close-service{
                //             opacity: 1;
                //         }
                //     }
                // }
                .action-btn{
                    position: absolute;
                    cursor: pointer;
                    &.close-service{
                        opacity: 1;
                        &.hide{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
