@import "style";
.add-more-btn{
    text-decoration: none;
    color: $white;
    border: 0;
    padding: 3px 14px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    &:hover{
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
}
.imex-content-table{
    .case-heading-action{
        margin-bottom: 15px;
        .scp-left-list-action-div{
            &.disabled{
                pointer-events: none;
            }
        }
        .selected-case{
            margin-right: 15px;
        }
        .selected-case-button{
            background: #F1F3F4;
            border-radius: 5px;
            color: $dark-gray;
            margin-right: 10px;
            padding: 2px 10px;
            transition: all 0.5s;
            border: 0;
            &:hover{
                background: $primary;
                color: $white;
                svg{
                    path{
                        stroke: $white; 
                    }
                }
            }
            span{
                font-weight: 400;
                font-size: 13px;
            }
            svg{
                margin-left: 5px;
            }
        }
    }
    .scp-right-list-action-div{
        select{
            border: 1px solid #bbb;
            padding: 2px;
            border-radius: 5px;
        }
    }
    thead{
        th{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $dark-gray;
            padding-bottom: 10px;
            border-bottom: 1px solid $dark-gray;
            @include min1600{
                font-size: 16px;
                line-height: 24px
            }
            a{
                color: $dark-gray;
                text-decoration: none;
            }
            @include min768{
                padding-bottom: 15px;
                padding-top: 15px;
            }
        }
    }
    td,th{
        white-space: nowrap;
        @include min1024{
            padding: 0 8px;
            &:last-child{
                padding-right: 0;
            }
            &:first-child{
                text-align: left;
                padding-left: 0;
            }
        }
        @include max1024{
            padding: 0 10px;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
        svg{
            &:hover{
                > g{
                  opacity: 1;
                }
                path{
                  stroke: $primary;
                }
            }
        }
    }
    
    .cases-heading{
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $black;
        margin: 0;
        
    }
    .main-heading-table{
        padding: 20px 0;
    }
    .table-content{
        table{
            width: 100%;
            table-layout: auto;
        }
        tr{
            td{
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                @include min1600{
                    font-size: 14px;
                    line-height: 22px; 
                }
            }
            
            &:last-child{
                td{
                    border: 0;
                }
            }
            td{
                padding-bottom: 10px;
                border-bottom: 1px solid #EDECEC;
                padding-top: 10px;
                @include min768{
                    padding-bottom: 15px;
                    padding-top: 15px;
                }
                p{
                    margin: 0;
                }
                a{
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 22px;
                    color: $dark-gray;
                    transition: all 0.5s;
                    &:hover{
                        color: $primary; 
                    }
                }
                &.action-list{
                    a{
                        display: inline;
                        margin-right: 15px;
                        padding: 0;
                        &:hover{
                            background-color: transparent;
                        }
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
                
                &.product-price{
                    color: $dark-gray;
                    width: 130px;
                    text-align: left;
                    font-size: 13px;
                    line-height: 20px; 
                    @include min1400{
                        font-size: 14px;
                        line-height: 22px; 
                    }
                }
            }
        }
    }
    .case-footer{
        margin-top: 10px;
        font-size: 13px;
        @include min1600{
            font-size: 14px;
        }
        @include min768{
            margin-top: 30px;
        }
        nav{
            margin-top: 20px;
            @include min768{
                margin-top: 0;
            }
        }
    }
    
}

// commone checkbox
.checkbox-button{
    cursor: pointer;
    input[type=checkbox] {
      box-sizing: border-box;
      padding: 0;
    }
    input {
      font-size: 1rem;
      line-height: 1.5;
      padding: 11px 23px;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0;
      outline: 0;
      background-color: transparent;
    }
    .checkbox-button__input {
      opacity: 0;
      position: absolute;
    }
    .checkbox-button__control {
      position: relative;
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 12px;
      vertical-align: middle;
      background-color: inherit;
      color: rgba($primary, .7);
      border: 1px solid #727272;
      border-radius: 5px;
    }
    .checkbox-button__input:checked+.checkbox-button__control:after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      background-color: rgba($primary, .7);
      border-radius: 3px;
    }
  
    .checkbox-button__input:checked+.checkbox-button__control {
        border-color: rgba($primary, .7);
    }
  
    .checkbox-button__control {
      transform: scale(0.75);
    }
}

.filter-body-open{
    overflow: hidden;
    &:after{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.2);
        content: "";
        z-index: 99;
    }
}

.scp-bottom-action-div{
    margin-top: 15px;
    text-align: right;
}

.advance_filter_form .select2-container .select2-selection--multiple{
    min-height: 40px;
}
.advance_filter_form .select2-container--default.select2-container--focus .select2-selection--multiple,
.advance_filter_form .select2-container--default .select2-selection--multiple
{
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}
.advance_filter_form .select2-container .select2-search--inline .select2-search__field{
    margin-top: 10px;
    padding: 0 5px;
}
.scp-page-list-view{
    .case-listing-block{
        position: relative;
        z-index: 2;
    }
    table{
        th{
            @include max767{
                font-size: 14px;
                line-height: 22px;
            }
            svg{
                width: 15px;
                margin-left: 5px;
            }
        }
    }
    .preferences-header{
        .advance_filter{
            position: relative;
        }
        .advance_filter a{
            width: 35px;
            height: 35px;
            background: $primary;
            line-height: 35px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            margin-left: 15px;
            cursor: pointer;
            padding: 0;
        }
        .advance_filter p{
            margin: 0;
            position: absolute;
            right: -10px;
            top: -10px;
            a{
                background: #f00;
                color: $white;
                margin: 0;
                padding: 0;
                width: 22px;
                height: 22px;
                line-height: 23px;
                display: inherit;
                font-size: 12px;
            }
        }
    }
}
.listing-section.preferences-content{
    &::after{
        display: none;
    }
}