@import "style";
.case-edit-block{
    position: relative;
    .form-group{
        label{
            margin-bottom: 5px;
        }
        textarea{
            min-height: 80px;
        }
    }
    button[type="submit"]{
        min-width: 90px;
    }

} 

.preview-zone{
    .image-div.img-preview{
        position: relative;
        margin-bottom: 20px;
        img{
            width: 80px;
            height: 80px;
            border-radius: 10px;
            overflow: hidden;
            margin-right: 15px;
            object-fit: cover;
        }
        p{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            a{
                color: $white;
                width: 20px;
                height: 20px;
                background: #ff0101;
                line-height: 20px;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                right: 10px;
                top: -10px;
            }
        }
        
    }
}

.case-attachments-section{
    h3{
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $black;
        position: relative;
        margin: 0px 0 10px 0; 
    }
}

.file-form-group{
    display: table;
    a{
        border: 0.5px solid #d3d3d3;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(16, 69, 249, 0.1);
        padding: 8.5px 10px;
        border-radius: 10px;
        margin: 0 0 0 4px; 
        text-decoration: none;
        display: inline-block;
        transition: all 0.5s;
        font-size: 13px;
        @include min1024{
            margin: 0 0 0 10px; 
            padding: 8.5px 15px;
            font-size: 14px;
        }
        &:first-child{
            margin: 0 !important;
        }
        
        &:hover{
            border-color: $primary;
        }
        svg, em{
            margin-right: 2px;
            font-size: 13px;
            width: 16px;
            color: #bbb;
            @include min1024{
                margin-right: 5px;
                font-size: inherit;
                width: auto;
            }
        }
    }
}

.upload .case-upload{
    height: 114px;
}
.case-attachement-right{
    .scp-information{
        margin: 6px 0 0;
    }
    label.error-line{
        font-size: 12px;
        color: #ff0000;
        margin: 0;
        display: block;
    }
} 