@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
@include min1400{
  body .row {
      margin-right: -15px;
      margin-left: -15px;
  }
  body .row > * {
      padding-right: 15px ;
      padding-left: 15px;
  }
}
button{
  &:focus{
    outline: none !important;
  }
}
input[type=text], input[type=email], input[type=password], input[type=number], textarea, .form-group select, textarea.form-control, .form-control[type="file"]{
    border: 0.5px solid #d3d3d3;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(16, 69, 249, 0.1);
    border-radius: 10px;
    padding: 8px 15px;
    width: 100%;
    line-height: 22px;
    height: auto;
    &:focus{
      outline: none;
      box-shadow: none;
      border-color: #d3d3d3;
    }
}
img{
  max-width: 100%;
}
button.btn-close:focus{
  box-shadow: none; 
}
.form-group select{
  cursor: pointer;
}
a:focus{
    outline: none !important;
    box-shadow: none !important;
}
input.form-control:focus, body .input:focus{
    outline: none;
    box-shadow: none;
    border-color: #d3d3d3;
}
.form-group .required {
  color: #ff0000;
}
label.error{
  font-size: 11px;
  margin: 0;
  font-weight: 400 !important;
  color: #ff0000;
}

input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder, input[type=number]::placeholder, textarea::placeholder {
    color: $dark-gray;
    opacity: 1;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, textarea:-ms-input-placeholder  {
  color: $dark-gray;
}
input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, input[type=number]::-ms-input-placeholder, textarea::-ms-input-placeholder{ /* Microsoft Edge */
  color: $dark-gray;
}
.alert-success.bcp-success{
  padding: 10px;
  margin: 30px 0;
  &.preferences_success{
    margin: 30px 20px;
  }
  span.success{
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .btn-close{
    padding: 10px;
    background-size: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  } 
}
.bcp-loader{
  position: relative;
  &:before{
    background-image: url('../../assets/images/ajax-loading.gif');
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
  }
}

body .btn{
    padding: 7px 15px;
    border-radius: 10px;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    background: $primary;
    border-color: $primary;
    transition: all 0.5s;
    @include min1600{
      font-size: 16px;
      line-height: 24px;
    }
    &:hover{
      background: $dark-gray;
      border-color: $dark-gray;
      color: $white;
    }
}

body, body *{
  scrollbar-width: thin;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 5px;
  background-color: #eee;
  height: 3px;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bbb;
}
body::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
  // border: 1px solid #CCCCCC;
  // outline: 1px solid #CCCCCC;
  background-color: #bbb;

}
.imex-content-table{
  .table-content{
      tr{
          td{
              &.status-td{
                  p{
                      color: #2455d9;
                      border-radius: 15px;
                      margin: 0 !important;
                      font-size: 11px;
                      background: #b1c5fb;
                      border: 1px solid #2455d9;
                      width: 127px;
                      text-align: center;
                      height: 25px;
                      line-height: 25px !important;
                      text-transform: capitalize;
                      &.medium{
                          border: 1px solid #FF7000;
                          color: #FF7000;
                          background: #FCEEE3;
                      }
                      &.confirmed{
                          border: 1px solid #1045F9;
                          background: #F3F6FF;
                          color: #1045F9;
                      }
                      &.closed-accepted{
                          color: #C61F1F;
                          background: #FFE2E2;
                          border: 1px solid #C61F1F;
                      }
                      &.high, &.pending{
                          color: #C61F1F;
                          background: #FFE2E2;
                          border: 1px solid #C61F1F;
                      }
                      &.low, &.converted{
                          background: #D2EAD2;
                          border: 1px solid #2D502D;
                          color: #2D502D;
                      }
                      &.held{
                          background: #e7e7e7;
                          border: 1px solid $black;
                          color: $black;
                      }
                      &.draft{
                          background: #fceee3;
                          border: 1px solid #ff7000;
                          color: #ff7000;
                      }
                      &.negotiation{
                          background: #dae7ff;
                          border: 1px solid #5a77b2;
                          color: #5a77b2;
                      }
                      &.delivered{
                          background: #a1e9fe;
                          border: 1px solid #17586a;
                          color: #17586a;
                      }
                      &.hold{
                          background: #daf5ff;
                          border: 1px solid #0086ab;
                          color: #0086ab;
                      }
                      &.closed-lost{
                          color: #ac613a;
                          background: #fcdfcf;
                          border: 1px solid #ac613a;
                      }
                      &.closed-dead{
                          background: #e8dcde;
                          color: #633d43;
                          border: 1px solid #633d43;
                      }
                      &.planned{
                          background: #faeec6;
                          color: #ecba12;
                          border: 1px solid #ecba12;
                      }
                      &.not-held{
                          background: #e1d7fc;
                          color: #5f46a2;
                          border: 1px solid #5f46a2;
                      }
                      &.declined{
                          background: #9ca8c1;
                          color: #162a54;
                          border: 1px solid #162a54;
                      }

                  }
                  
              }
          }
      }
  }
}
// commone checkbox
.add-more-btn{
  text-decoration: none;
  color: $white;
  border: 0;
  padding: 3px 14px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  &:hover{
      background-color: $primary;
      color: $white;
      border-color: $primary;
  }
}
.checkbox-button{
  cursor: pointer;
  input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }
  input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
  }
  .checkbox-button__input {
    opacity: 0;
    position: absolute;
  }
  .checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: rgba($primary, .7);
    border: 1px solid #727272;
    border-radius: 5px;
  }
  .checkbox-button__input:checked+.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: rgba($primary, .7);
    border-radius: 3px;
  }

  .checkbox-button__input:checked+.checkbox-button__control {
      border-color: rgba($primary, .7);
  }

  .checkbox-button__control {
    transform: scale(0.75);
  }
}

input[type="submit"]{
  min-width: 115px;
  transition: all 0.5s;
  &:hover{
    background-color: $dark-gray !important;
    color: $white !important; 
  }
}
.btn.border-button{
  color: #8D8D8D;
  border: 1px solid #8D8D8D;
  background-color: $white;
  min-width: 115px;
  transition: all 0.5s;
  &:hover{
    background-color: $dark-gray;
    border-color: $dark-gray;
    color: $white;
  }
}

@mixin common-heading{
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $black;
}

// custom checkbox css start here
.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $white;
      border: 0.5px solid #727272;
      border-radius: 3px;
    }
  
    // Box hover
    &:hover + label:before {
      background: $primary;
    }
    
  
    // Box checked
    &:checked + label:before {
      background: $primary;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
      
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: $white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 $white,
        4px 0 0 $white,
        4px -2px 0 $white,
        4px -4px 0 $white,
        4px -6px 0 $white,
        4px -8px 0 $white;
      transform: rotate(45deg);
    }
  }

  .dropdown{
    .country-dropdown {
        border: 0.5px solid #d3d3d3;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(16, 69, 249, 0.1);
        border-radius: 10px;
        padding: 8px 40px 8px 15px;
        width: 100%;
        line-height: 22px;
        background: transparent;
        margin-bottom: 19px;
        text-align: left;
        position: relative;
        color:$dark-gray;
        .fa-chevron-down{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after{
            display: none;
        }
    }
  }

  .white-body-shadow{
    background: $white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(16, 69, 249, 0.1);
    margin-bottom: 20px;
    .white-bg-heading{
      padding: 20px 15px 20px;
      position: relative;
      @include min1400{
        padding: 30px 32px 25px;
      }
      h2{
        @include common-heading;
        position: relative;
        margin: 0;
      }
      &::after{
        box-shadow: inset 0px -3px 10px -4px rgba(0, 0, 0, 0.07);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 10px;
        content: "";
      }
    }
    .white-main-body{
      padding: 20px 15px 20px;
      @include min768{
        padding: 24px 30px 34px;
      }
    }
  }
  
  // Common tab css
  .tabs-menu{
    ul.nav{
      border-bottom: 1px solid #EDECEC;
      @include max767{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 4px;
        a{
          white-space: nowrap;
        }
      }
      .nav-item{
        margin-right: 0;
        @include min768{
          margin-right: 25px;
        }
        a{
          font-weight: 500;
          font-size: 13px;
          line-height: 21px;
          color: #8D8D8D;
          padding: 0 15px 10px;
          position: relative;
          transition: all 0.5s;
          @include min768{
            font-size: 16px;
            line-height: 24px;
            padding: 0 30px 17px;
          }
          &:after{
            position: absolute;
            left: 0;
            right: 0;
            height: 5px;
            background-color: transparent;
            content: "";
            border-radius: 5px;
            bottom: -3px;
            content: "";
            border-radius: 5px;
            transition: all 0.5s;
          }
          &.active{
            color: $primary;
            &:after{
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  nav {
    ul.pagination{
        li{
          &.disabled{
            a{
              pointer-events: none;
            }
          }
            margin: 0 5px;
            &.active, &:hover{
                .page-link{
                    color: $primary;
                    background: #F1F3F4;
                    &::after{
                        background-color: $primary;
                    }
                }
            }
            a{
                &.previous-item, &.next-item{
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 40px;
                    text-decoration: none;
                    color: $dark-gray;
                    em{
                        color: #8D8D8D;
                    }
                }
                &.previous-item{
                    margin-left: 6px;
                    em{
                        margin-right: 5px;
                    }
                }
                &.next-item{
                    margin-right: 6px;
                    em{
                        margin-left: 5px;
                    }
                }
                &.page-link{
                    border: 0;
                    width: 40px;
                    height: 40px;
                    background: #F1F3F4;
                    text-align: center;
                    padding: 0;
                    line-height: 40px;
                    margin-left: -1px;
                    font-size: 16px;
                    color: $dark-gray;
                    border-radius: 5px;
                    transition: all 0.5s;
                    &::after{
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 5px;
                        content: "";
                        background-color: #F1F3F4;
                        border-radius: 5px;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}


// profile upload css start here
.box {
  position: relative;
  background: #ffffff;
  width: 100%;
  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
  }
}
.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
 
.dropzone-wrapper {
  border: 1px dashed $primary;
  color: $dark-gray;
  position: relative;
  height: 114px;
  background: #F3F6FF;
  width: 242px;
  border-radius: 15px;
  overflow: hidden;
  svg{
    margin-bottom: 10px;
  }
  p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    margin: 0;
    @include min1600{
      font-size: 14px;
      line-height: 21px;
    }
    span{
      color: $primary;
      font-weight: 500;
    }
  }
}
 
.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
  width: calc(100% - 15px);
  @include min1024{
    width: calc(100% - 66px);
  }
}
 
.dropzone, 
.dropzone:focus,
.case-upload,
.case-upload:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}
.preview-zone {
  text-align: center;
  // margin-right: 20px;
  .box-body{
    flex-wrap: wrap;
  }
  .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    img{
      width: 122px;
      height: 115px;
      border-radius: 15px;
      overflow: hidden;
      margin-right: 20px;
    }
  }
}

.scp-th-checkbox-div{
  .checkbox-button{
    .checkbox-button__control{
      margin-right: 5px;
    }
    .fa-chevron-down{
      font-size: 12px;
      color: #8D8D8D;
    }
  }
}
.scp-th-checkbox-ul{
  position: absolute;
  padding: 0;
  list-style: none;
  margin: 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  line-height: 15px;
  padding: 9px;
  background: $white;
  z-index: 1;
  margin-top: 5px;
  li{
    padding: 3px 0;
  }
}
body .registration-button{
  margin: 10px 0 20px;
  @include max767{
    margin: 0 0 10px;
  }
  button{
    min-width: 115px;
    margin-right: 20px;
    &:last-child{
      margin: 0;
    }
  }
}

// .select2-container{
//   width: 100% !important;
// }
// body .select2-container--default .select2-selection--single {
//   border: 1px solid #d3d3d3;
//   border-radius: 10px;
//   box-shadow: 0px 0px 15px rgba(16, 69, 249, 0.1);
//   height: 40px;
// }
// body .select2-container--default .select2-selection--single .select2-selection__rendered {
//   line-height: 40px;
// }
// body .select2-container--default .select2-selection--single .select2-selection__arrow {
//   height: 40px;
// }
// body .select2-container--default .select2-selection--multiple {
//   border: 1px solid #d3d3d3;
//   border-radius: 10px;
//   cursor: text;
// }
// body .select2-container--default .select2-selection--multiple .select2-selection__choice {
//   margin-top: 8px;
// }
// body .select2-container--default .select2-selection--multiple .select2-selection__clear {
//   margin-top: 8px;
// }
.form-group{
  .ms-options-wrap{
    button{
      border-radius: 10px;
      padding: 8px 15px;
      width: 100%;
      box-shadow: 0px 0px 15px rgba(16, 69, 249, 0.1);
      border-color: #d3d3d3;
      &::after{
        right: 10px;
      }
    }
    .ms-options{
      ul{
        li{
          label{
              margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}
.form-group .ms-options-wrap > button:focus, .form-group .ms-options-wrap > button{
  padding: 8px 15px;
}

.scp-information{
  font-size: 12px;
}
.dcp_date_main{
  position: relative;
}

.cases-heading{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  margin: 0;
  @include min1600{
      font-size: 18px;
      line-height: 27px;
  }
  a{
      margin-left: 10px;
      display: flex;
      height: 15px;
      padding: 0 5px;
      border-radius: 5px;
      background-color: rgba($primary, .1);
      text-decoration: none;
      align-items: center;
      &.see-all{
          &:hover{
              span{
                  display: block;
              }
          }
          span{
              line-height: 20px;
              margin-right: 5px;
              display: none;
              font-size: 10px;
          }
          em{
              font-size: 9px;
              color: $primary;
          }
      }
  }
}

body .form-control, body select{
  appearance: auto;
}

// filter scss start here
#filter-panel{
  z-index: 100;
  overflow: auto;
  top: 0;
  .close-fliter{
      width: 35px;
      height: 35px; 
      background: $primary;
      color: $white;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      display: block;
      float: right;
      cursor: pointer;
      em{
          font-size: 18px;
          line-height: 35px;
      }
  }
  .all-module{
      float: left;
      width: 100%;
  }
  &.filter-open{
      right: 0;
  }
  #total_amount_advanced_between_range_div{
    margin-top: 15px;
    span{
      margin: 0 10px;
    }
  }
  .form-group{
      margin-bottom: 20px;
      label{
          margin-bottom: 5px;
      }
      .date-picker{
          position: relative;
          margin-top: 15px;
      }
      .aos_quotes_select_div{
          position: relative;
          &::after{
              content: ' ';
              height: 0;
              position: absolute;
              top: 20px;
              right: 10px;
              width: 0;
              border: 6px solid rgba(0, 0, 0, 0);
              border-top-color: #999;
              margin-top: -3px;
          }
          select{
              appearance: none;
              padding: 8px 12px;
              color: #aaa;
              font-size: 13px;
          }
      }
  }
  .preferences-button-group{
      margin-top: 20px;
      input{
          float: left;
      }
      button{
          float: left;
          margin-right: 20px;
          &:hover{
              color: $white;
              background-color: $dark-gray;
          }
      }
      input[type="submit"]{
          margin-right: 20px;
          &:hover{
              color: $white;
          }
      }
  }
}
.scp_datetime, .scp_time, .scp_date {
  background-image: url('../../assets/images/Calendar.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 10px;
}
