@import "variable";
@import "style";
@include min1400{
    .row > *{
        padding-right: 15px;
        padding-left: 15px;
    }
    .row{
        margin-right:-15px;
        margin-left: -15px;
    }
}

.page-body-wrapper{
    .main-panel{
        .left-cases-block{
            margin-bottom: 0;
            @include min768{
                margin-bottom: 30px;
            }
            .col{
                width: 50%;
                margin-bottom: 20px;
                flex: auto;
                @include max767{
                    &:last-child{
                        margin: 0;
                    }
                    &:nth-last-child(2){
                        margin: 0;
                    }
                }
                @include min768{
                    width: auto;
                    margin-bottom: 0;
                    flex: 1 0 0%;
                }
            }
            .counter-block{
                background: $white;
                box-shadow: 0px 0px 25px rgba(16, 69, 249, 0.1);
                border-radius: 15px;  
                padding: 23px 15px;
                position: relative;
                transition: all 0.5s;
                &:hover{
                    background: $primary;
                    h2{
                        color: $white;
                    }
                    h3{
                        color: $white;
                    }
                }
                &::after{
                    content: "";
                    left: 10px;
                    top: 10px;
                    background-image: url('../../assets/images/contracts-bg-left.svg');
                    position: absolute;
                    width: 21px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    opacity: 30%;
                }
                &::before{
                    content: "";
                    right: 10px;
                    bottom: 10px;
                    background-image: url('../../assets/images/contracts-bg-right.svg');
                    position: absolute;
                    width: 21px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    opacity: 30%;
                }
                &.accounts-block{
                    &::after{
                        background-image: url('../../assets/images/accounts-left.svg');
                    }
                    &::before{
                        background-image: url('../../assets/images/accounts-right.svg');
                    }
                }
                &.calls-block{
                    &::after{
                        background-image: url('../../assets/images/calls-left.svg');
                    }
                    &::before{
                        background-image: url('../../assets/images/calls-right.svg');
                    }
                }
                &.cases-block{
                    &::after{
                        background-image: url('../../assets/images/cases-total-block-left.svg');
                    }
                    &::before{
                        background-image: url('../../assets/images/cases-total-block-right.svg');
                    }
                }
                h2{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #727272;
                    margin: 10px 0;
                    @include min1600{
                        font-size: 18px;
                        line-height: 27px;
                    }
                }
                h3{
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 40px;
                    color: $dark-gray;
                    margin: 0;
                    @include min1600{
                        font-size: 50px;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}

.today-schedule-table{
    table{
        width: 100%;
        tr{
            vertical-align: top;
        }
    }
    
}
.scp-dashboard-list-view{
    .imex-content-table{
        background: $white;
        box-shadow: 0px 0px 25px rgba(16, 69, 249, 0.1);
        border-radius: 15px;
        height: 100%;
        overflow: hidden;
        td,th{
            white-space: nowrap;
            .account-image{
                width: 32px;
                margin-right: 10px;
                width: 32px;
                overflow: hidden;
                border-radius: 5px;
                margin-right: 10px;
                height: 32px;
                border-radius: 50%;
                background: $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
            }
            @include min1024{
                text-align: center;
                padding: 0 8px;
                &:last-child{
                    padding-right: 0;
                }
                &:first-child{
                    width: 70%;
                    text-align: left;
                    padding-left: 0;
                }
            }
            @include max1024{
                padding: 0 10px;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
            }
            svg{
                &:hover{
                    > g{
                    opacity: 1;
                    }
                    path{
                    stroke: $primary;
                    }
                }
            }
        }
        .chartview-blur{
            position: relative;
            p{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 30px;
            }
        }
        .cases-heading{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $black;
            margin: 0;
            @include min1600{
                font-size: 18px;
                line-height: 27px;
            }
            a{
                margin-left: 10px;
                display: flex;
                height: 15px;
                padding: 0 5px;
                border-radius: 5px;
                background-color: rgba($primary, .1);
                text-decoration: none;
                align-items: center;
                &.see-all{
                    &:hover{
                        span{
                            display: block;
                        }
                    }
                    span{
                        line-height: 20px;
                        margin-right: 5px;
                        display: none;
                        font-size: 10px;
                    }
                    em{
                        font-size: 9px;
                        color: $primary;
                    }
                }
            }
        }
        .main-heading-table{
            padding: 20px;
            .add-more-btn{
                font-size: 12px;
                line-height: 18px;
                text-decoration: none;
                color: $dark-gray;
                border: 1px solid $dark-gray;
                padding: 3px 9px;
                border-radius: 10px;
                &:hover{
                    background-color: $primary;
                    color: $white;
                    border-color: $primary;
                }
            }
        }
        .table-content{
            margin: 0 20px 20px;
            tr{
                &:first-child{
                    td{
                        padding-top: 0;
                    }
                }
                &:last-child{
                    td{
                        padding-bottom: 0;
                        border: 0;
                    }
                }
                td{
                    padding-bottom: 10px;
                    border-bottom: 1px solid #EDECEC;
                    padding-top: 10px;
                    @include min768{
                        padding-bottom: 15px;
                        padding-top: 15px;
                    }
                    p{
                        margin: 0;
                    }
                    a{
                        text-decoration: none;
                        font-size: 13px;
                        line-height: 20px;
                        color: $dark-gray;
                        transition: all 0.5s;
                        @include min1600{
                            font-size: 14px;
                            line-height: 22px;
                        }
                        &:hover{
                            color: $primary; 
                        }
                    }
                    &.date-time{
                        width: 85px;
                        text-align: right;
                        p{
                            font-size: 12px;
                            line-height: 12px;
                            color: #8D8D8D;
                        }
                        span{
                            font-size: 10px;
                            line-height: 15px;
                            color: #8D8D8D;
                        }
                    }
                    &.status-td{
                        p{
                            color: #2455d9;
                            border-radius: 15px;
                            margin: 0 auto !important;
                            font-size: 11px;
                            background: #b1c5fb;
                            border: 1px solid #2455d9;
                            width: 127px;
                            text-align: center;
                            height: 25px;
                            line-height: 25px !important;
                            text-transform: capitalize;
                            &.medium{
                                border: 1px solid #FF7000;
                                color: #FF7000;
                                background: #FCEEE3;
                            }
                            &.confirmed{
                                border: 1px solid #1045F9;
                                background: #F3F6FF;
                                color: #1045F9;
                            }
                            &.closed-accepted{
                                color: #C61F1F;
                                background: #FFE2E2;
                                border: 1px solid #C61F1F;
                            }
                            &.high, &.pending{
                                color: #C61F1F;
                                background: #FFE2E2;
                                border: 1px solid #C61F1F;
                            }
                            &.low, &.converted{
                                background: #D2EAD2;
                                border: 1px solid #2D502D;
                                color: #2D502D;
                            }
                            &.held{
                                background: #e7e7e7;
                                border: 1px solid $black;
                                color: $black;
                            }
                            &.draft{
                                background: #fceee3;
                                border: 1px solid #ff7000;
                                color: #ff7000;
                            }
                            &.negotiation{
                                background: #dae7ff;
                                border: 1px solid #5a77b2;
                                color: #5a77b2;
                            }
                            &.delivered{
                                background: #a1e9fe;
                                border: 1px solid #17586a;
                                color: #17586a;
                            }
                            &.hold{
                                background: #daf5ff;
                                border: 1px solid #0086ab;
                                color: #0086ab;
                            }
                            &.closed-lost{
                                color: #ac613a;
                                background: #fcdfcf;
                                border: 1px solid #ac613a;
                            }
                            &.closed-dead{
                                background: #e8dcde;
                                color: #633d43;
                                border: 1px solid #633d43;
                            }
                            &.planned{
                                background: #faeec6;
                                color: #ecba12;
                                border: 1px solid #ecba12;
                            }
                            &.not-held{
                                background: #e1d7fc;
                                color: #5f46a2;
                                border: 1px solid #5f46a2;
                            }
                            &.declined{
                                background: #9ca8c1;
                                color: #162a54;
                                border: 1px solid #162a54;
                            }

                        }
                        
                    }
                    &.product-price{
                        color: $dark-gray;
                        width: 130px;
                        text-align: left; 
                    }
                }
            }
        }
    }
}


