@import "variable";
@import "style";
.login-section{
    .login-image-main{
        position: relative;
        display: none !important;
        @include min768{
            display: block !important;  
        }
        .login-image{
            height: 100%;
            img{
                max-width: 100%;
                width: 100%;
                z-index: 1;
                position: relative;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

section .login-section{
    height: 100%;
    margin: 0 !important;
    background-color: $white;
    .login-form{
        max-width: 415px;
        padding: 40px 20px 40px !important;
        flex-direction: column;
        background-color: $white;
        h1{
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: $dark-gray; 
            margin-bottom: 18px;
        }
        @include min992{
            padding: 0 !important;
            flex-direction: inherit;
        }
        form{
            margin: 0 0 30px;
            .login_error{
                .btn-close{
                    padding: 20px; 
                    top: 50%;
                    transform: translateY(-50%);
                    background-size: 12px;
                }
                .error{
                    font-size: 11px;
                    margin: 0;
                    font-weight: 400 !important;
                    color: #ff0000;
                    display: block;
                }
            }
        }
        .login-input{
            margin-bottom: 19px;
            label{
                &.error{
                    position: absolute;
                    font-size: 11px;
                    margin: 0;
                    font-weight: 400 !important;
                    color: #ff0000;
                }
            }
        }
        .password-input{
            margin-bottom: 20px;
            position: relative;
            input{
                padding-right: 45px;
            }
            label{
                &.error{
                    position: absolute;
                    font-size: 11px;
                    margin: 0;
                    font-weight: 400 !important;
                    color: #ff0000;
                }
            }
            .eye-password{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                line-height: 0;
                em{
                    color: #8D8D8D;
                    font-size: 18px;
                }
            }
        }
        .form-check{
            padding-left: 0;
            margin: 0;
            label{
                margin: 0;
                font-weight: 300 !important;
                font-size: 14px;
                line-height: 21px;
                color: $light-gray;
            }
        }
        .btn{
            max-width: 150px;
            width: 100%;
        }
        .card-footer.card-footer-registration{
            background-color: $white;
            font-weight: 300;
            font-size: 13px;
            line-height: 20px;
            color: $dark-gray;
            padding: 0;
            &.forgot-card-footer{
                a{
                    display: inline;
                }
            }
            a{
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                @include max767{
                    display: block;
                }
            }
        }
        .bcp-login{
            margin-top: 15px;
            font-weight: 700;
        }
        .forgot-psw{
            font-weight: 300;
        }
        .copy-right-text{
            margin: 30px 0 0;
            font-size: 10px;
            line-height: 15px;
            color: #8D8D8D;
            width: 100%;
            text-align: center;
            @include min992{
                position: absolute;
                bottom: 50px;
            }
        }
        .dropdown{
            .dropdown-menu{
                margin: 0px;
                width: 100%;
                box-shadow: 0px 0px 15px rgba(16, 69, 249, 0.1);
                li{
                    a{
                        padding: 5px 15px;
                        display: block;
                        color: $dark-gray;
                    }
                }
            }
        }
        
        .re-capcha{
            margin: 20px 0;
            display: inline-block;
            width: 100%;
            #scp-recaptcha-error-msg{
                display: block;
                position: absolute;
                font-size: 11px;
                margin: 0;
                font-weight: 400 !important;
                color: #ff0000;
                margin-top: 5px;
            }
            @include min1024{
                margin: 10px 0 0;
            }
        }
    }
}



// registration css start here
html,body{
    height: 100%;
}
.scp-signup-body{
    background: #f5f8ff;
}
.registration-section{
    height: 100%;
    padding: 30px 0;
    @include min768{
        padding: 50px 0;
    }
    .container{
        @include min1600{
            max-width: 1450px;
        }
        @include min1800{
            max-width: 1650px; 
        }
    }
    .registration-inner{
        background: $white;
        border-radius: 15px;
        padding: 20px 20px;
        position: relative;
        z-index: 1;
        box-shadow: 0px 0px 25px rgba(16, 69, 249, 0.1); 
        .registration-header-text{
            h2{
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: $dark-gray;
                padding-bottom: 15px;
                border-bottom: 1px solid #EDECEC;
                margin-bottom: 20px;
                @include min768{
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                }
            }
        }
        @include min768{
            padding: 36px 50px;
        }
        
        textarea{
            min-height: 150px;
        }
        .btn{
            max-width: 150px;
            width: 100%;
        }
        .registration-button{
            margin-top: 30px;
            @include min768{
                margin-top: 50px;
            }
        }
        .registration-footer{
            font-weight: 300;
            font-size: 13px;
            line-height: 20px;
            color: $dark-gray;
            padding: 0;
            margin: 30px 0 0 0;
            a{
                font-weight: 700;
                font-size: 15px;
                line-height: 22px; 
            }
        }
        .registration-header{
            margin-bottom: 30px;
            @include min768{
                margin-bottom: 43px;
            }
            .dropdown-menu{
                box-shadow: 0px 0px 15px rgba(16, 69, 249, 0.1);
                li{
                    a{
                        width: 100%;
                        padding: 5px 10px;
                        white-space: nowrap;
                        color: $dark-gray;
                        display: inline-block;
                        width: 100%;
                    }
                }
            }
            .logo{
                img{
                    max-width: 150px;
                    @include min768{
                        max-width: 176px;
                    }
                }
            }
            .dropdown{
                button{
                    width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 0;
                    @include min768{
                        width: auto;
                    }
                }
            }
        }
    }
}

.scp-signup-form{
    .form-group{
        margin-bottom: 20px;
        label{
            margin-bottom: 5px;
            &.error{
                position: relative;
            }
        }
        .required{
            color: #ff0000;
        }
    }
    #scp-recaptcha {
        margin-top: 20px;
    }
}

div#login-attempt-error-div {
    background: #ededed;
    padding: 8px;
    margin: 0 0 10px;
    border-radius: 10px;
    border: 1px solid #bbb;
    p{
        margin: 0;
    }
}

span.success {
    background: #eaffea;
    padding: 8px;
    margin: 0 0 10px;
    border-radius: 10px;
    border: 1px solid #008000;
    color: #008000;
    display: block;
    width: 100%;
}
.login_error {
    background: #fff5f5;
    padding: 8px;
    margin: 0 0 10px;
    border-radius: 10px;
    border: 1px solid #ff0000;
    color: #ff0000;
}

.scp-login-body{
    background-color: $white;
    #fullwidth-wrapper{
        @include min992{
            overflow: hidden;
            height: 100%;  
        }
        @include max767{
            height: 100%; 
        }
        section.login-section{
            height: 100%;
        }
    }
}

.scp-signup-body{
    #fullwidth-wrapper{
        height: 100%;
    }
}

#scp-login-form {
    .alert-success.bcp-success.bcp-success{
        margin: 30px 0;
    }
}