@import "style";
.preferences-content{
    position: relative;
    &.overlay-bg-image{
        @include min1200{
            &::after{
                content: "";
                right: -30px;
                bottom: 0;
                background-image: url(../../assets/images/mask-bg.svg);
                position: absolute;
                width: 500px;
                height: 400px;
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: bottom;
            }
        }
    }
    .preferences-tabs{
        .common-block{
            padding: 24px 0 0;
            h3{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px; 
                color: $theme-dark;
                margin-bottom: 14px;
                span{
                    color: #f00;
                    font-size: 13px;
                }
            }
            ul{
                padding: 0;
                list-style: none;
                margin: 0;
                .nav-item{
                    display: inline-block;
                    position: relative;
                    &.disbled{
                        cursor: not-allowed;
                        .nav-link{
                            cursor: not-allowed;
                            .menu-title{
                                &:after{
                                    cursor: not-allowed; 
                                }
                            }
                        }
                    }
                    .nav-link{
                        display: inline-flex;
                        padding: 10px;
                        border: 1px solid $black;
                        border-radius: 10px;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        color: $dark-gray;
                        position: relative;
                        overflow: hidden;
                        @include min768{
                            margin-right: 20px;
                            margin-bottom: 20px;
                        }
                        @include min992{
                            margin-right: 30px;
                        }
                    }
                    
                    .menu-title {
                        color: $dark-gray;
                        display: inline-block;
                        font-size: 14px;
                        line-height: 21px;
                        vertical-align: middle;
                        font-weight: 300;
                        
                        &::after{
                            content: "";
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            position: absolute;
                            cursor: pointer;
                        }
                    }
                    .menu-image{
                        margin-right: 7px;
                        position: relative;
                        .normal-image{
                          opacity: 1;
                        }
                        .active-image{
                          position: absolute;
                          left: 0;
                          right: 0;
                          top: 50%;
                          bottom: 0;
                          transform: translateY(-50%);
                          font-size: 0;
                          opacity: 0;
                        }
                    }
                    &.active{
                        .nav-link{
                            border: 1px solid $primary;
                            background-color: #F0F4FF;
                            .menu-title {
                                color: $primary;
                            }
                            svg{
                                > g{
                                  opacity: 1;
                                }
                                path{
                                  stroke: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
        .preferences-button-group{
            margin-top: 10px;
            input{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                margin-right: 20px;
                float: left;
            }
            input[type="submit"]{
                background-color: $primary;
                color: $white;
                &.btn{
                    &:hover{
                        color: $white;
                    }
                }
                
            }
        }
    }
}

.notifications-preference-blocks{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    @include min1400{
        width: 90%;
    }
    @include min1600{
        width: 85%;
    }
    .preferences-block.common-block{
        padding-top: 30px;
        width: 100%;
        @include max767{
            align-items: flex-start !important;
            flex-direction: column;
        }
        @include min1200{
            width: 50%;
        }

        h3{
            min-width: 140px;
            @include min768{
                margin-bottom: 0;
            }
        }
        ul{
            .nav-item{
                &:last-child{
                    .nav-link{
                        margin-right: 0;
                    }
                }
                &.status-change-block{
                    .nav-link{
                        min-width: 148px;
                        justify-content: center;
                    }
                }
                &.create-block{
                    .nav-link{
                        min-width: 92px;
                        justify-content: center;
                    }
                }
                a{
                    &.nav-link{
                        margin-bottom: 0;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}


.no-checkbox{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
  }
  
  input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
  }


//   Case Details Page css start here

.case-detais-tab-description{
    margin-top: 30px;
    h3{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; 
        color: $theme-dark;
        margin-bottom: 20px;
    }
    .case-details-tab{
        .case-details-main-information{
            margin-bottom: 30px;
            padding-bottom: 30px;
            position: relative;
            &::after{
                content: "";
                left: 0;
                right: 0;
                bottom: 0;
                width: 60%;
                height: 1px;
                background-color: #EDECEC;
                position: absolute;
            }
            &:last-child{
                margin-bottom: 0;
                padding-bottom: 20px;
                &::after{
                    display: none;
                    
                }
            }
        }   
    }
    .case-information{
        .d-flex{
            margin-bottom: 10px;
            @include min1600{
                margin-bottom: 20px;
            }
            &:last-child{
                margin: 0;
            }
        }
        label{
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            color: $dark-gray;      
            min-width: 140px;
            margin-right: 20px;
            @include min1600{
                font-size: 15px;
                line-height: 23px;
            }
        }
        p{
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: $dark-gray;
            margin: 0;
            @include min1600{
                font-size: 15px;
                line-height: 23px;
            }
        }
    }
    .comments-section{
        margin-top: 20px;
        @include min768{
            margin-top: 0;
        }
        @include min1400{
            padding-left: 40px;
            margin-left: 40px;
            border-left: 1px solid #EDECEC;
        }
        .updates-details-div{
            overflow: auto;
            max-height: 300px;
            margin-bottom: 20px;
            padding-right: 10px;
        }
        .form-group{
            margin-bottom: 15px;
        }
        .form-control[type="file"]{
            border-radius: 5px;
            padding: 6px 12px;
        }
        .user-comment-list{
            margin-bottom: 20px;
            @include min1600{
                margin-bottom: 30px;  
            }
            &:last-child{
                margin-bottom: 0;
            }
            &.dark-gray-right{
                text-align: right;
                .user-comment-list-name{
                    background: #DADFE1;
                    border-radius: 10px 10px 0px 10px;
                }
                .post-comment-user{
                    flex-direction: row-reverse;
                    .user-image{
                        margin: 0 0 0 10px;
                    }
                    .post-date{
                        margin:0 3px 0 0;
                    }
                }
            }
            .user-comment-list-name{
                background: #F1F3F4;
                border-radius: 10px 10px 10px 0px;
                padding: 17px 20px;
                margin: 0 0 10px;
                .attachment-details{
                    display: inline-block;
                    a{
                        padding: 4px 10px;
                        border: 1px solid $primary;
                        border-radius: 5px;
                        text-decoration: none;
                        font-size: 12px;
                        line-height: 18px;
                        display: inline-block;
                        margin-top: 10px;
                        svg{
                            path{
                                stroke: $primary;
                            }
                        }
                        img{
                            margin-left: 5px;
                        }
                    }
                }
            }
            .post-comment-user{
                p{
                    margin: 0;
                }
                .user-image{
                    width: 32px;
                    margin-right: 10px;
                    width: 32px;
                    overflow: hidden;
                    border-radius: 5px;
                    margin-right: 10px;
                    height: 32px;
                    border-radius: 50%;
                    background: $primary;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white;
                    margin-right: 10px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .user-name{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: $dark-gray;
                }
                .post-date{
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 15px;
                    color: $dark-gray;
                    margin-left: 3px;
                }
            }
        }
        .enter-comment-here{
            margin-top: 12px;
            > div{
                width: 40px;
                cursor: pointer;
                position: relative;
                top: -9px;
                transform: rotate(90deg);
                .upload_btn {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    margin-top: 0;
                    z-index: 10;
                    opacity: 0;
                    cursor: pointer;
                }
                .overlay-layer {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    margin-top: -20px;
                    z-index: 1;
                    font-size: 25px;
                    color: #000;
                    text-align: center;
                    line-height: 40px;
                    cursor: pointer;
                }
            }
        } 
    }
}

.cases-details-bg {
    &:after {
        display: none;
    }
    .button-group{
        .dcp_ca_class{
            font-size: 14px;
            padding: 3px 15px;
        }
        a{
            margin-left: 15px;
            svg{
                width: 17px;
                height: 17px;
            }
        }
    }
    .preferences-tabs {
        .tabs-menu {
            ul.nav{
                li{
                    position: relative;
                    
                    .scp_subpanel_add {
                        position: absolute;
                        padding: 0;
                        right: 7px;
                        top: 0;
                    }
                    &:first-child{
                        a{
                            padding: 0 10px 17px 10px;
                            @include min1600{
                                padding: 0px 15px 17px 15px; 
                            }
                        }
                    }
                    a{
                        font-size: 14px;
                        line-height: 17px;
                        padding: 0 30px 17px 10px;
                        transition: all 0.5s;
                        &:hover{
                            color: $primary;
                            + a{
                                color: $primary;
                            }
                        }
                        &.active{
                            + a{
                                color: $primary;
                            }
                        }
                        @include min1600{
                            font-size: 16px;
                            line-height: 24px;
                            padding: 0px 35px 17px 15px;
                            &.scp_subpanel_add{
                                right: 10px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

