@import "style";
.white-shadow-bg{
    background: $white;
    box-shadow: 0px 0px 25px rgba(16, 69, 249, 0.1);
    border-radius: 15px;
    padding: 20px;
    @include min768{
        padding: 30px;
    }
}
.profile-details{
    h2{
        @include common-heading;
        position: relative;
        margin: 0 0 20px;  
    }
}
.form-group{
    margin-bottom: 30px;
    label{
        margin-bottom: 5px;
        .required{
            color: #ff0000; 
        }
    }
}

.case-button-group{
    input[type="submit"]{
        margin-right: 20px;
    }
}


.profile-password-changes {
    h2{
        @include common-heading;
    }
}