@mixin min480 {
  @media (min-width:480px) {
      @content;
  }
}
@mixin min576 {
  @media (min-width:576px) {
      @content;
  }
}
@mixin min768 {
  @media (min-width:768px) {
      @content;
  }
}
@mixin max767 {
  @media (max-width:767px) {
      @content;
  }
}

@mixin min992 {
  @media (min-width:992px) {
      @content;
  }
}
@mixin max991 {
  @media (max-width:991px) { 
      @content;
  }
}
@mixin min1024 {
  @media (min-width:1024px) {
      @content;
  }
}
@mixin max1024 {
  @media (max-width:1024px) {
      @content;
  }
}
@mixin min1200 {
  @media (min-width:1200px) {
      @content;
  }
}
@mixin min1400 {
  @media (min-width:1400px) {
      @content;
  }
}
@mixin min1600 {
  @media (min-width:1600px) {
      @content;
  }
}
@mixin min1800 {
  @media (min-width:1800px) {
      @content;
  }
}