// header part
@import "notify";
@import "../../responsive";
/*******************
 General Topbar
*******************/
.logged-in{
  .topbar{
    top: 46px;
    @include min992{
      top: 32px;
    }
  }
}
.topbar {
  position: relative;
  z-index: 50;
  padding: 14px 30px;
  // box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
  background: $topbar;
  height: 70px;
  @include min992{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  @include max991{
    height: 60px;
  }
  .navbar-collapse {
    padding: 0px 10px 0 0;
    display: block; 
    @include max991{
      padding: 0;
    }
  }
  .top-navbar {
    padding: 0px;
    @include max767{
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .navbar-header {
      .navbar-brand {
        width: 205px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 0;
        @include max991{
          width: 165px;
          img{
            width: 100%;
          }
        }
        @include max991{
          margin-left: 45px;
        }
        .dark-logo {
          display: none;
        }
        .logo-icon {
          margin-right: 5px;
        }
      }
    }
    .navbar-nav > .nav-item {
      &:hover {
        background: $transparent-dark-bg;
      }
    }
  }
  .user-dd,
  .mailbox {
    min-width: 280px;
  }
  .nav-toggler,
  .topbartoggler {
    color: $theme-light;
    padding: 0 15px;
  }
}


.search-box {
  .app-search {
    z-index: 110;
    width: 100%;
    top: -1px;
    box-shadow: $shadow;
    display: none;
    left: 0px;
    .form-control {
      padding: 32px;
      @extend %square;
      transition: $transitions;
      &:focus {
        border-color: transparent;
      }
    }
    .srh-btn {
      position: absolute;
      top: 23px;
      cursor: pointer;
      right: 20px;
    }
  }
}

/*******************
Designed dropdown
******************/
.topbar {
  .dropdown-menu {
    padding-top: 0px;
    border: 0px;
    // box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    .with-arrow {
      position: absolute;
      height: 10px;
      overflow: hidden;
      width: 40px;
      top: -10px;
      > span {
        @extend %rotate45;
        background-color: $white;
        width: 15px;
        height: 15px;
        top: 3px;
        left: 15px;
        position: absolute;
        content: "";
        -moz-border-radius: 6px 0 0 0;
        border-radius: 6px 0 0 0;
        /*box-shadow:-3px -3px 8px rgba(0, 0, 0, 0.1);    */
      }
    }
    &.dropdown-menu-right {
      .with-arrow {
        right: 0px;
        > span {
          right: 20px;
          left: auto;
        }
      }
    }
  }
}
/*******************
Topbar Responsive
******************/

@media (max-width: 767px) {
  .topbar .top-navbar {
    .navbar-collapse.show,
    .navbar-collapse.collapsing {
      display: block;
      width: 100%;
      border-top: 1px solid $border-color;
    }
   
    .navbar-nav > .nav-item > .nav-link {
      padding: 0 20px 0 0;
    }
    .navbar-header {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    .dropdown-menu {
      position: absolute;
      width: 100%;
      .with-arrow {
        display: none;
      }
    }
  }
}


.top-navbar{
  .navbar-collapse{
    .navbar-nav{
      .sidebartoggler{
        margin-right: 10px !important;
        margin-left: 10px !important; 
        @include min1200{
          margin-right: 30px !important;
          margin-left: 20px !important; 
        }
      }
    }
  }
  .dropdown{
    background: #F1F3F4;
    border-radius: 10px;
    &.all-module{
      .nav-link{
        padding: 9px 10px;
        min-width: 168px;
      }
    }
    .nav-link{
      padding: 8px 10px;
    }
    span{
      color: $dark-gray;
      font-size: 13px;
      line-height: 19px; 
      @include min1600{
        font-size: 14px;
        line-height: 21px;
      }
    }
    .fa-chevron-down{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color:$dark-gray;
    }
  }
}

.user-dropdown{
  @include max991{
    margin-right: 20px;
    &.user-dropdown{
      background: transparent;
      &:hover{
        background: transparent !important;
      }
    }
    
    .pro-pic{
      padding: 0 !important;
      margin-right: 0; 
    }
    .user-image{
      border-radius: 50%;
    }
  }
  .nav-link{
    .fas{
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      right: auto;
    }
  }
  .dropdown-menu{
    padding: 0;
    margin-left: auto;
    right: 0 !important;
    min-width: 240px;
    padding: 11px 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 7px 0 0;
    .dropdown-item{
      padding: 11px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:active{
        span{
          color: $white;
        }
        em{
          color: $white;
        }
      }
      span{
        font-size: 12px;
        line-height: 18px;
      }
      em{
        font-size: 16px;
        color: #808080;
      }
      + .dropdown-item{
        border-top: 1px solid #EDECEC;
      }
    }
  }
  .pro-pic{
    display: flex;
    align-items: center;
    .user-image{
      width: 32px;
      height: 30px;
      border-radius: 10px;
      overflow: hidden;
      margin-left: 5px;
      margin-right: 5px;
      img{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    }
  }
}
.top-navbar{
  .navbar-nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: revert;
    .user-dropdown{
      .pro-pic{
        span{
          @include max767{
            display: none;
          }
        }
      }
    }
  }
  .message-dropdown, .notification-dropdown{
    background: transparent;
    display: flex;
    align-items: center;
    .nav-link{
      padding: 0;
      margin-right: 20px;
      img{
        width: 20px;
      }
    }
    &:hover{
      background-color: transparent !important;
    }
  }
  .notification-dropdown{
    .counter{
      position: absolute;
      top: 3px;
      width: 20px;
      height: 20px;
      background: #ff0000;
      left: 8px;
      border-radius: 50%;
      text-align: center;
      color:$white;
      font-size: 11px;
    }
    .dropdown-menu{
        list-style: none;
        padding: 0;
        li{
          padding: 10px 0;
          a{
            text-decoration: none;
            padding: 0 15px;
            display: inherit;
            + a{
              margin-top: 15px;
              border-top: 1px solid #ececec;
              padding-top: 15px;
            }
          }
        }
    }
  }
}


.search-box{
  display: flex;
  align-items: center;
  overflow: hidden;
  .input-group{
    .search-input{
      display: flex;
      align-items: center;
      background: #F1F3F4;
      border-radius: 10px;
      padding: 5px 10px;
      border-radius: 10px !important;
      margin-right: 10px;
      margin-left: 10px !important;
      max-width: 150px !important;
      @include min1200{
        max-width: none !important;
        margin-left: 30px !important;
      }
      input{
        background: transparent;
        padding: 3px 10px;
        font-size: 13px;
        @include min1600{
          font-size: 14px;
        }
      }
    }
    #btn_global_search{
      &:hover{
        color: $white;
      }
    }
  }
  &:hover{
    background: transparent !important;
  }
  input{
    background: transparent;
    border: 0;
  }
}

.navbar-nav{
  .sidebartoggler-li{
    @include max991{
      position: absolute;
      left: -15px;
      top: 5px;
      .sidebartoggler{
        padding: 0;
        margin: 0 !important;
      }
    }
    &.nav-item{
      &:hover{
        background-color: transparent !important;
      }
    }
  }
}


// Mobile search css start here
.nav-item.search-box{
  overflow: inherit;
  margin-right: 15px;
}

#right-sidebar {
  &.right-panel-open{
    right: 0 !important;
  }
}

.settings-panel{
  position: fixed;
  width: 320px;
  right: -320px;
  bottom: 0;
  top: 60px;
  background: $white;
  padding: 15px;
  transition: all 0.5s;
  .input-group{
    .d-block{
      width: 100%;
    }
    .search-input{
      display: flex;
      align-items: center;
      background: #F1F3F4;
      border-radius: 10px;
      padding: 5px 10px;
      border-radius: 10px;
      margin: 0 0 15px;
      input{
        background: transparent;
        border: 0;
        padding: 3px 5px;
        &::-webkit-input-placeholder {
          color: $dark-gray;
        }
        &:-moz-placeholder { 
          color: $dark-gray;
        }
        &:-ms-input-placeholder {
          color: $dark-gray;
        }
      }
      // max-width: 150px ;
    }
    .btn{
      background: $primary;
      border-radius: 10px;
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
      min-width: 70px;
      &:hover{
        color: $white;
      }
    }
  }
  .all-module{
    .dropdown-toggle{
      background: #F1F3F4;
      border-radius: 10px;
      margin-bottom: 15px;
      color: $dark-gray;
      &.nav-link{
        &::after{
          display: none;
        }
      }
      .dropdown-menu{
        width: 100%;
      }
    }
  }
}

header.topbar{
  @include max991{
      position: fixed;
      left: 0;
      right: 0;
      padding: 14px 20px;
      top: 60px;
      transition: all 0.5s;
      top: 0;
      .three-dots{
          font-size: 20px;
          color: $dark-gray;
      }
  }

}

// common main body css start here
.page-body-wrapper{
  min-height: calc(100vh - 60px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  @include min992{
      padding-top: 70px;
      min-height: calc(100vh - 70px);
  }
  // padding-top: 60px;
  
  .main-panel{
      width: calc(100% - 235px);
      background: #f5f8fe;
      padding: 30px 30px 10px;
      @include max991{
          width: calc(100%);
          margin-top: 60px;
          padding: 25px 20px 10px;
      }
      .mb-30{
          margin-bottom: 20px;
          @include min768{
              margin-bottom: 30px;
          }
      }
    }
  }

  .sidebar-icon-only{
    .main-panel{
        width: calc(100% - 70px);
        @include max991{
            width: calc(100%);
        }
        
    }
}